<!-- views/entry-edit.ejs -->

<link href="/css/entry.css" rel="stylesheet" type="text/css">

<div id="discard"></div>
<div id="save"></div>

<div id="entryDiv">
    <div class="textDiv">
    <textarea id="title" name="Title" rows="1" cols="50"></textarea>
    </div>
    <div class="textDiv">
    <textarea id="content" name="Content" rows="10" cols="50"></textarea>
    </div>
</div>



