<%- include('./partials/header') %>

<body style="background-color: lightgrey;">
<header>
    <h2>Welcome Back <%=firstName%></h2>
</header>
<div class="container-fluid">

</div>
</body>
<%- include('./partials/footer') %>